/*-----Animations--------*/
@keyframes loaderFadeOut {
  0% {
    opacity: 1;
    z-index: 9999;
  }
  90% {
    opacity: 0.1;
    z-index: 9999;
  }
  99% {
    opacity: 0.1;
    z-index: 9999;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -9999;
  }
}
@keyframes icon {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loading-circle-rotation {
  to {
    -webkit-transform: rotate(-360deg);
  }
}
/*-----------Mobile first-----------*/
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loaderFadeOut 2s ease-in-out forwards;
}
.loader .loader-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .loader-icon .circle {
  width: 200px;
  height: 200px;
  border-top: 4px solid #008766;
  border-radius: 50%;
  position: absolute;
  animation: loading-circle-rotation 2s linear infinite;
}
.loader .loader-icon i {
  font-size: 120px;
  color: #99E2D0;
  animation: icon 2s linear infinite;
  position: relative;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
header img {
  width: 197px;
  height: 36px;
  margin: 4% auto 0 auto;
}
header p {
  width: 100%;
  margin: 5% 0 0 0;
  padding: 4% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #EAEAEA;
  font-weight: 500;
  position: relative;
}
header p i {
  margin-right: 15px;
  color: #353535;
}
header p::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to bottom, #cecece, #EAEAEA);
}

main {
  width: 100%;
}
main .heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 60px;
  background-color: #F6F6F6;
}
main .heading h1 {
  width: 90%;
  margin: 40px auto 20px auto;
}
main .heading p {
  width: 90%;
  margin: 0 auto 20px auto;
  color: #353535;
  font-size: 18px;
}
main .heading button {
  font-size: 16px;
  width: 218px;
  height: 50px;
  margin: 15px auto 0 auto;
  border-radius: 25px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  border-width: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: filter 0.5s, box-shadow 0.5s;
}
main .heading button:hover {
  filter: brightness(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
main .functioning {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main .functioning h2 {
  text-align: left;
  margin-top: 50px;
  padding-left: 5%;
  font-weight: 700;
}
main .functioning .step {
  width: 85%;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: relative;
}
main .functioning .step .number {
  width: 24px;
  height: 24px;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -30px;
}
main .functioning .step p {
  font-weight: 500;
  margin: 0 auto 0 17px;
}
main .functioning .step i {
  width: 13px;
  height: 17px;
  color: #7E7E7E;
  margin-left: 25px;
}
main .functioning .step i:hover {
  color: #9356DC;
}
main .restaurants {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F6F6F6;
  margin-top: 40px;
  padding-bottom: 40px;
}
main .restaurants h2 {
  text-align: left;
  margin-top: 50px;
  padding-left: 5%;
  margin-bottom: 5px;
  font-weight: 700;
}
main .restaurants .container_card {
  margin-bottom: -17px;
}
main .restaurants .container_card a {
  width: 85%;
  text-decoration: none;
}
main .restaurants .container_card .card {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
}
main .restaurants .container_card .card .image-container {
  width: 100%;
  height: 165px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 15px 0 0;
}
main .restaurants .container_card .card .image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
  margin-bottom: 58px;
}
main .restaurants .container_card .card .image-container .new {
  font-size: 14px;
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: #99E2D0;
  color: #008766;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: 500;
}
main .restaurants .container_card .card_content {
  display: flex;
  background-color: white;
  border-radius: 0 0 15px 15px;
  margin-top: -15px;
}
main .restaurants .container_card .card_content .card_txt {
  width: 75%;
  color: black;
  margin-left: 15px;
}
main .restaurants .container_card .card_content .card_txt h3 {
  margin: 18px 0 -13px 0;
}
main .restaurants .container_card {
  position: relative;
}
main .restaurants .container_card .hidden {
  display: none;
}
main .restaurants .container_card .heart-button {
  cursor: pointer;
  position: absolute;
  bottom: 17%;
  right: 10%;
}
main .restaurants .container_card .heart-button i.fa-regular.fa-heart {
  font-size: 22px;
  height: 22px;
  color: black;
  display: block;
}
main .restaurants .container_card .heart-button i.fa-solid.fa-heart {
  display: none;
  font-size: 22px;
  height: 22px;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
main .restaurants .container_card #heart-checkbox-1:checked + .heart-button i.fa-regular.fa-heart,
main .restaurants .container_card #heart-checkbox-2:checked + .heart-button i.fa-regular.fa-heart,
main .restaurants .container_card #heart-checkbox-3:checked + .heart-button i.fa-regular.fa-heart,
main .restaurants .container_card #heart-checkbox-4:checked + .heart-button i.fa-regular.fa-heart {
  display: none;
}
main .restaurants .container_card #heart-checkbox-1:checked + .heart-button i.fa-solid.fa-heart,
main .restaurants .container_card #heart-checkbox-2:checked + .heart-button i.fa-solid.fa-heart,
main .restaurants .container_card #heart-checkbox-3:checked + .heart-button i.fa-solid.fa-heart,
main .restaurants .container_card #heart-checkbox-4:checked + .heart-button i.fa-solid.fa-heart {
  display: block;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 10px 0 20px 20px;
}
footer h2 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  color: white;
  margin-bottom: 5px;
}
footer a {
  width: auto;
  text-decoration: none;
  color: white;
  margin: 10px 0 0 0;
}
footer a span i {
  width: 15px;
  margin-right: 15px;
}

/*-----------Media queries-----------*/
/*--- Tablet ---*/
@media (min-width: 768px) and (max-width: 1024px) {
  main .functioning {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .functioning h2 {
    width: 100%;
    padding-left: 15px;
  }
  main .functioning .step {
    width: 28%;
  }
  main .restaurants .card_content {
    margin-top: 0px;
  }
  footer {
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding: 4% 4% 2% 0;
  }
  footer h2 {
    order: 5;
    margin-left: 20px;
  }
  footer a {
    margin-left: 2px;
    margin-right: 10px;
  }
  footer .footer_link_icon {
    margin: 8px 31px 0 -19px;
  }
}
/*--- Desktop ---*/
@media (min-width: 1025px) {
  header img {
    margin: 2% auto 0 auto;
  }
  header p {
    margin: 2% 0 0 0;
    padding: 1% 0;
  }
  header p::before {
    content: none;
  }
  main .heading {
    padding-bottom: 40px;
  }
  main .heading h1 {
    font-size: 40px;
    margin: 30px auto 20px auto;
  }
  main .functioning {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10%;
  }
  main .functioning h2 {
    width: 100%;
    padding-left: 5px;
    margin-top: 40px;
  }
  main .functioning .step {
    width: 30%;
  }
  main .restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10% 15px 10%;
    margin-top: 35px;
  }
  main .restaurants h2 {
    width: 100%;
    padding-left: 5px;
    margin-top: 35px;
  }
  main .restaurants .container_card {
    width: 46%;
  }
  main .restaurants .container_card .heart-button {
    right: 3%;
    bottom: 21%;
  }
  main .restaurants .container_card #heart-checkbox-1:hover + .heart-button i.fa-regular.fa-heart,
  main .restaurants .container_card #heart-checkbox-2:hover + .heart-button i.fa-regular.fa-heart,
  main .restaurants .container_card #heart-checkbox-3:hover + .heart-button i.fa-regular.fa-heart,
  main .restaurants .container_card #heart-checkbox-4:hover + .heart-button i.fa-regular.fa-heart {
    display: none;
  }
  main .restaurants .container_card #heart-checkbox-1:hover + .heart-button i.fa-solid.fa-heart,
  main .restaurants .container_card #heart-checkbox-2:hover + .heart-button i.fa-solid.fa-heart,
  main .restaurants .container_card #heart-checkbox-3:hover + .heart-button i.fa-solid.fa-heart,
  main .restaurants .container_card #heart-checkbox-4:hover + .heart-button i.fa-solid.fa-heart {
    display: block;
  }
  main .restaurants .container_card .card {
    width: 100%;
    margin: 20px auto 33px auto;
  }
  main .restaurants .container_card .card .image-container img {
    margin-bottom: 75px;
  }
  footer {
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding: 4% 4% 2% 0;
  }
  footer h2 {
    order: 5;
    margin-left: 80px;
  }
  footer a {
    margin-left: 14px;
    margin-right: 6px;
  }
  footer .footer_link_icon {
    margin: 8px 39px 0 -20px;
  }
}

/*# sourceMappingURL=style.css.map */
