@import "./variable.scss" ;
@import "./mixin.scss";

/*-----Animations--------*/

@keyframes loaderFadeOut {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 0.1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }

@keyframes icon {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loading-circle-rotation {
    to {
      transform: rotate(-360deg);
    }
  }
/*-----------Mobile first-----------*/

* {
    font-family: 'Roboto', sans-serif ;
}

body {
    margin: 0;
    padding: 0; 
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loaderFadeOut 3s ease-in-out forwards; 
    z-index: 9999;

    .loader-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        .circle {
            width: 200px;
            height: 200px; 
            border-top: 4px solid $dark-green;
            border-radius: 50%;
            position: absolute;
            animation: loading-circle-rotation 3s linear infinite;
        }

        i {
            font-size: 120px; 
            color: $light-green;
            animation: icon 2s linear infinite;
            position: relative;
        }

    }
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;

    img {
        width: 197px;
        height: 36px;
        margin: 4% auto 0 auto;
    }

    p {
        width: 100%;
        margin: 5% 0 0 0;
        padding: 4% 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: $medium-gray;
        font-weight: 500;
        position: relative; 

        i {
            margin-right: 15px;
            color: $dark-gray;
        }

        &::before {
            content: "";
            position: absolute;
            top: -5px; 
            left: 0;
            width: 100%;
            height: 5px; 
            background: linear-gradient(to bottom, #cecece, $medium-gray); 
        }
    }
}

main {
    width: 100%;

    .heading {
        @include flex-column-center;
        padding-bottom: 60px;
        background-color: $light-gray;

        h1 {
            width: 90%;
            margin: 40px auto 20px auto;
        }

        p {
            width: 90%;
            margin: 0 auto 20px auto;
            color: $dark-gray ; 
            font-size: 18px;
        }

        button {
            @include gradient-button;
        }
    }

    .functioning {  
        @include flex-column-center;

        h2 {
            @include align-title;
            font-weight: 700;
        }

        .step {
            width: 85%;
            height: 72px;
            margin: $center;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $light-gray;
            box-shadow: $box-shadow;
            border-radius: 20px;
            position: relative;

            .number {
                width: 24px;
                height: 24px;
                color: white;
                background-color: $icon-purple;
                border-radius: 50%;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: -30px;
            }

            p {
                font-weight: 500;
                margin: 0 auto 0 17px;
            }

            i {
                width: 13px;
                height: 17px;
                color: $icon-gray;
                margin-left: 25px;

                &:hover {
                    color: $icon-purple;
                }
            }
        }        
    }

    .restaurants {
        @include flex-column-center;
        background-color: $light-gray;
        margin-top: 40px;
        padding-bottom: 40px;

        h2 {
            @include align-title;
            margin-bottom: 5px;
            font-weight: 700;
        }

        .container_card {
            margin-bottom: -17px;

            a {
                width: 85%;
                text-decoration: none;
            }

            .card {
                width: 90%;
                margin: 20px auto;
                display: flex;
                flex-direction: column;
                text-align: left;
                position: relative;
            
                .image-container {
                    width: 100%;
                    height: 165px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 15px 15px 0 0 ;
                    
                    img {
                        max-width: 100%;
                        height: auto;
                        border-radius: 15px 15px 0 0 ;
                        margin-bottom: 58px;
                    }
        
                    .new {
                        font-size: 14px;
                        position: absolute;
                        top: 0px;
                        right: 10px;
                        background-color: $light-green;
                        color: $dark-green;
                        padding: 5px 10px;
                        border-radius: 2px;
                        font-weight: 500;
                    }
                }
            }

            .card_content {
                display: flex;
                background-color: white;
                border-radius: 0 0 15px 15px;
                margin-top: -15px;

                .card_txt {
                    width: 75%;
                    color: black;
                    margin-left: 15px;
                    h3 {
                        margin: 18px 0 -13px 0;
                    }
                }
            }
        }

        .container_card {
            position: relative;

            .hidden {
                display: none;
            }
            
            .heart-button {
                cursor: pointer;
                position: absolute;
                bottom: 17%;
                right: 10%;
                @include heart-button;
            }    
            
            #heart-checkbox-1:checked + .heart-button,
            #heart-checkbox-2:checked + .heart-button,
            #heart-checkbox-3:checked + .heart-button,
            #heart-checkbox-4:checked + .heart-button {
                i.fa-regular.fa-heart {
                    display: none;
                }
                i.fa-solid.fa-heart {
                    display: block;
                }
            }
        }
    }
}

footer {
    @include footer-mobile
}

/*-----------Media queries-----------*/
/*--- Tablet ---*/
@media (min-width: 768px) and (max-width: 1024px) {
    
    main {
 
        .functioning {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            h2 {
                width: 100%;
                padding-left: 15px ;
            }
            
            .step {
                width: 28%; 
            }
        }
        .restaurants {
            .card_content {
                margin-top: 0px;
            }
        }
    }

    footer {
        @include footer-tablet;
    }
}

/*--- Desktop ---*/
@media (min-width: 1025px) {

    header {

        img {
            margin: 2% auto 0 auto;
        }

        p {
            margin: 2% 0 0 0;
            padding: 1% 0;

            &::before {
                content: none;
            }
        }

    }
    main {

        .heading {
            padding-bottom: 40px;

            h1 {
                font-size: 40px;
                margin: 30px auto 20px auto;
            }
        }

        .functioning {
            @include flex-row-wrap;
            padding: 0 10% ;

            h2 {
                width: 100%;
                padding-left: 5px ;
                margin-top: 40px;
            }
            
            .step {
                width: 30%; 
            }
        }

        .restaurants {
            @include flex-row-wrap;
            justify-content: space-between;
            padding: 0 10% 15px 10%;
            margin-top: 35px;

            h2 {
                width: 100%;
                padding-left: 5px;
                margin-top: 35px;
            }

           .container_card {
                width: 46%;
            
                .heart-button {
                    right: 3%;
                    bottom: 21%;
                }

                .card {
                    width: 100%;
                    margin: 20px auto 33px auto;

                    .image-container {

                        img {
                            margin-bottom: 75px;
                        }
                    }
                }
           }
        }
    }
    footer {
        @include footer-desktop;
    }
}
