$light-gray : #F6F6F6; 
$medium-gray : #EAEAEA;
$dark-gray : #353535;
$icon-gray : #7E7E7E;
$icon-purple :#9356DC;
$light-green: #99E2D0;
$dark-green:#008766;
$box-shadow : 0 4px 6px rgba(0, 0, 0, 0.2);
$center : 0 auto;
$width-content : 93%;